<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> <!-- bean definitions here -->


	<!-- bean definition  -->
	
	<bean id="employeeService" class="com.training.service.EmployeeService">
		<!-- <constructor-arg ref="employeeDao" /> -->
		<property name="employeeDao" ref="employeeDao" />
	</bean>
	
	
	<bean id="emp1" name="emp1" class="com.training.model.Employee" scope="singleton" primary="true">
		<constructor-arg name="id">
			<value>101</value>
		</constructor-arg>
		<constructor-arg name="name" value="Vaishnavi" />
		<constructor-arg name="city" value="Pune" />
		<constructor-arg name="salary" value="12000.00" />
		<constructor-arg name="projectName" value="Persistent" />
	</bean>
	
	<bean id="emp3" name="emp3" class="com.training.model.Employee">
		<constructor-arg name="id">
			<value>103</value>
		</constructor-arg>
		<constructor-arg name="name" value="Monali" />
		<constructor-arg name="city" value="Pune" />
		<constructor-arg name="salary" value="15000.00" />
		<constructor-arg name="projectName" value="Persistent" />
	</bean>
	
	
	<!-- <bean id="emp2" name="emp2" class="com.training.model.Employee">
		<property name="id" value="102" />
		<property name="name" value="Mayuri" />
		<property name="city" value="Pune" />
	</bean>
	 -->
	
	
	<bean id="employeeDao" name="employeeDao" class="com.training.dao.EmployeeDao">
	
	</bean>
	
	<bean id="c1" class="com.training.dao.CustomerDaoJDBCImpl" primary="true" />
	
	<bean id="c2" class="com.training.dao.CustomerDaoJPAImpl" />

	
</beans>